<div class="card">
  <div class="card-content">
    <div class="card-image">
      <img src="assets/bni.png" />
    </div>
    <div class="card-actions">
      <button class="view-btn" (click)="showModel = true">View Products</button>
    </div>
  </div>
  <mat-icon class="icon">keyboard_arrow_down</mat-icon>
</div>
<app-modal (close)="showModel = false" [open]="showModel">
  <div>
    <div class="scrolls">
      <mat-icon #left class="scroll-btn">keyboard_arrow_left</mat-icon>
      <mat-icon #right class="scroll-btn">keyboard_arrow_right</mat-icon>
    </div>
    <div #products class="products">
      <app-card2 *ngFor="let product of loop"></app-card2>
    </div>
  </div>
</app-modal>
