<div class="card">
  <div class="headers">
    <div class="name">PLIC Motor Insurance</div>
    <div class="type">Comprehensive</div>
    <div class="price">{{ 145 | number : "0.3-3" }} <span>BHD</span></div>
  </div>
  <div class="coverages">
    <div class="coverage" *ngFor="let coverage of coverages">
      <mat-icon class="icon">check_circle</mat-icon>
      <p class="text">Third Party Liability Cover</p>
    </div>
  </div>
  <div class="actions">
    <button class="add-btn" (click)="showCoverages = true">
      Additional Coverages
    </button>
    <button class="compare-btn">Compare</button>
    <button class="buy-btn">Buy Now</button>
  </div>
  <div class="additional-coverages" [ngClass]="{ active: showCoverages }">
    <mat-icon (click)="showCoverages = false">close_icon</mat-icon>
    <div>
      <mat-checkbox color="primary">
        <div class="checkbox">
          <p class="checkbox-text">Geographical Extension123</p>
          <span class="checkbox-money">{{
            25 | currency : "BD" : "code" : "0.3-3"
          }}</span>
        </div>
      </mat-checkbox>
      <mat-checkbox color="primary">
        <div class="checkbox">
          <p class="checkbox-text">Car Replacement</p>
          <span class="checkbox-money">{{
            10 | currency : "BD" : "code" : "0.3-3"
          }}</span>
        </div>
      </mat-checkbox>
      <mat-checkbox color="primary">
        <div class="checkbox">
          <p class="checkbox-text">Windscreen Coverage</p>
          <span class="checkbox-money">{{
            5 | currency : "BD" : "code" : "0.3-3"
          }}</span>
        </div>
      </mat-checkbox>
    </div>
  </div>
</div>
